<?xml version="1.0"?>

<!--
/**
 * Acquia/CommerceManager/etc/adminhtml/system.xml
 *
 * Acquia Commerce Manager Integration Configuration Form
 *
 * All rights reserved. No unauthorized distribution or reproduction.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="webapi">
            <group id="acquia_commerce" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Acquia Commerce API Settings</label>
                <field id="connector_url" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Acquia Commerce Connector URL</label>
                    <comment>Base URL of Acquia Commerce Connector Instance. For example "https://commerceconnector.acquia.com". Do not include the api version.</comment>
                </field>
                <field id="connector_api_version_path" translate="label" type="select" sortOrder="11" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Connector version</label>
                    <comment>Indicate which version of the Commerce Connector Service you are using. If you don't know then it is probably version two but please ask your Acquia account manager to confirm it.</comment>
                    <source_model>Acquia\CommerceManager\Model\Config\Source\ApiVersion</source_model>
                </field>
                <field id="acm_id" translate="label comment" type="text" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Acquia Commerce Manager ID</label>
                    <comment>You will receive ACM ID from the Commerce Engineering team. This is used for identifying site.</comment>
                </field>
                <field id="connector_enable" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Connector API Module</label>
                    <comment>Enable / Disable Acquia Commerce Connector Data Observers</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="connector_ssl_val" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Verify Connector SSL Certificate</label>
                    <comment>Enable / Disable Guzzle HTTP Client SSL Validation (for testing)</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="acquia_commerce_security" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Acquia Commerce API Security Settings</label>
                <field id="ac_hmac_id" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>HMAC Key ID</label>
                </field>
                <field id="ac_hmac_secret" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>HMAC Key Scret</label>
                </field>
            </group>
            <group id="acquia_commerce_settings" translate="label" type="text" sortOrder="12" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Acquia Commerce API General Settings</label>
                <field id="product_push_batch_size" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Product Push - Batch Size</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
                <field id="push_stock" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Push Stock changes</label>
                    <comment>Stock mode - pull / push</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="filter_root_category" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Filter Root Category</label>
                    <comment>Filter root category when pushing or not.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
